.height_animation {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms;
}

.height_animation > div {
  overflow: hidden;
}

.height_animation_active {
  grid-template-rows: 1fr;
}

/* card glow effect animation */

#cards:hover > .card_glow::after {
  opacity: 1;
}

.card_glow {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card_glow:hover::before {
  opacity: 1;
}

.card_glow::before,
.card_glow::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card_glow::before {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 207, 191, 0.253), transparent 40%);
  z-index: 3;
}

.card_glow::after {
  background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 207, 191, 0.4), transparent 40%);
  z-index: 1;
}

.card_glow > .card_glow_content {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  position: absolute;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

/* scale in scroll animation */

@media (min-width: 640px) {
  .scroll_animation {
    opacity: 0;
    scale: 0.9;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover 150px;
    animation-range-end: 400px;
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
}
