@tailwind base;
@tailwind components;
@tailwind utilities;


.custom_scroll_bar {
  overflow-x: auto;
  overflow-y: hidden;
}

.custom_scroll_bar::-webkit-scrollbar {
  height: 0.5rem;
  margin-bottom: 3rem;
}

.custom_scroll_bar::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  @apply bg-neutral-300;
}

.custom_scroll_bar::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  @apply bg-transparent;
}
.card {
  @apply  p-3  rounded-lg ;
}
.col-12 {
  @apply  grid grid-cols-12 gap-4 ;
}
.col-3{
  @apply col-span-12 md:col-span-4 lg:col-span-3;
}

.col-4{
  @apply col-span-12 md:col-span-6 lg:col-span-4;
}
.col-6{
  @apply col-span-12 md:col-span-6 lg:col-span-6;
}
.btn{
  @apply flex items-center w-full gap-2 px-3 py-2  ;
}